<!-- Footer Start -->
<footer class="footer bg-body">
    <hr class="hr--tix op-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-6 text-left">
                2020 &copy; DataSanityzer. All rights reserved.
            </div>
            <div class="col-md-6 col-6 text-right">
                <div class="text-md-right footer-links">
                    <a href="javascript:void(0);">Support</a>
                    <a href="javascript:void(0);">Help</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->