<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <!-- Mobile menu toggle-->
            <!-- <li class="dropdown notification-list">
                <a class="navbar-toggle nav-link">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li> -->
            <!-- End mobile menu toggle-->

            <li class="dropdown user-account">
                <a class="nav-link nav-link--tix dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <div class="row">
                        <div class="col">
                            <span class="fw-400">Donna Banks<i class="mdi mdi-chevron-down"></i></span>
                            <p class="fs-12 text-muted">Chairperson</p>
                        </div>
                        <div class="col p-0">
                            <img src="assets/images/users/user-2.jpg" alt="user-image" class="rounded-circle">
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>
        </ul>

        <!-- LOGO -->
        <div class="logo-box p-r-20">
            <a href="index.html" class="logo text-center">
                <span class="logo-lg">
                    <img src="assets/images/logos/logo.png" alt="" height="38">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-sm">
                    <!-- <span class="logo-sm-text-dark">U</span> -->
                <img src="assets/images/logos/logo.png" alt="" height="34">
                </span>
            </a>
        </div>

        <div>
            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <!-- This search field searches the records in the table. The default datatable Search filter is hidden. See datables.init.js -->
                <li class="d-none d-sm-block">
                    <form class="app-search app-search--tix">
                        <div class="app-search-box">
                            <div class="input-group input-group--tix input-group-bl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-text--tix" id="basic-addon1"><i class="fe-search"></i></span>
                                </div>
                                <input id="navSearch" type="text" class="form-control search fs-16" placeholder="Search records..." aria-label="Search records" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!-- end container-fluid-->
</div>
<!-- end Topbar -->