.w-40 {
    width: 40% !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.lh-10 {
    line-height: 10px !important;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-30 {
    line-height: 30px !important;
}

.lh-40 {
    line-height: 40px !important;
}

.lh-50 {
    line-height: 50px !important;
}

.lh-60 {
    line-height: 60px !important;
}

.lh-70 {
    line-height: 70px !important;
}

.lh-80 {
    line-height: 80px !important;
}

.lh-90 {
    line-height: 90px !important;
}

.lh-100 {
    line-height: 100px !important;
}

.op-1 {
    opacity: 0.1 !important;
}

.op-2 {
    opacity: 0.2 !important;
}

.op-3 {
    opacity: 0.3 !important;
}

.op-4 {
    opacity: 0.4 !important;
}

.op-5 {
    opacity: 0.5 !important;
}

.op-6 {
    opacity: 0.6 !important;
}

.op-7 {
    opacity: 0.7 !important;
}

.op-8 {
    opacity: 0.8 !important;
}

.op-9 {
    opacity: 0.9 !important;
}

.ls-1 {
    letter-spacing: 0.25em;
}

.br-0 {
    border-radius: 0 !important;
}


/* Generic Padding Helpers
  ------------------------------------
  */

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.padding-5 {
    padding: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.padding-10 {
    padding: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.padding-15 {
    padding: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.padding-20 {
    padding: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.padding-25 {
    padding: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.padding-30 {
    padding: 30px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.padding-35 {
    padding: 35px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.padding-40 {
    padding: 40px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.padding-45 {
    padding: 45px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.padding-50 {
    padding: 50px !important;
}

.p-t-55 {
    padding-top: 55px !important;
}

.p-r-55 {
    padding-right: 55px !important;
}

.p-l-55 {
    padding-left: 55px !important;
}

.p-b-55 {
    padding-bottom: 55px !important;
}

.padding-55 {
    padding: 55px !important;
}

.p-t-60 {
    padding-top: 60px !important;
}

.p-r-60 {
    padding-right: 60px !important;
}

.p-l-60 {
    padding-left: 60px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.padding-60 {
    padding: 60px !important;
}

.p-t-65 {
    padding-top: 65px !important;
}

.p-r-65 {
    padding-right: 65px !important;
}

.p-l-65 {
    padding-left: 65px !important;
}

.p-b-65 {
    padding-bottom: 65px !important;
}

.padding-65 {
    padding: 65px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-r-70 {
    padding-right: 70px !important;
}

.p-l-70 {
    padding-left: 70px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.padding-70 {
    padding: 70px !important;
}

.p-t-75 {
    padding-top: 75px !important;
}

.p-r-75 {
    padding-right: 75px !important;
}

.p-l-75 {
    padding-left: 75px !important;
}

.p-b-75 {
    padding-bottom: 75px !important;
}

.padding-75 {
    padding: 75px !important;
}

.p-t-80 {
    padding-top: 80px !important;
}

.p-r-80 {
    padding-right: 80px !important;
}

.p-l-80 {
    padding-left: 80px !important;
}

.p-b-80 {
    padding-bottom: 80px !important;
}

.padding-80 {
    padding: 80px !important;
}

.p-t-85 {
    padding-top: 85px !important;
}

.p-r-85 {
    padding-right: 85px !important;
}

.p-l-85 {
    padding-left: 85px !important;
}

.p-b-85 {
    padding-bottom: 85px !important;
}

.padding-85 {
    padding: 85px !important;
}

.p-t-90 {
    padding-top: 90px !important;
}

.p-r-90 {
    padding-right: 90px !important;
}

.p-l-90 {
    padding-left: 90px !important;
}

.p-b-90 {
    padding-bottom: 90px !important;
}

.padding-90 {
    padding: 90px !important;
}

.p-t-95 {
    padding-top: 95px !important;
}

.p-r-95 {
    padding-right: 95px !important;
}

.p-l-95 {
    padding-left: 95px !important;
}

.p-b-95 {
    padding-bottom: 95px !important;
}

.padding-95 {
    padding: 95px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.p-t-200 {
    padding-top: 200px !important;
}

.p-t-300 {
    padding-top: 300px !important;
}

.p-t-400 {
    padding-top: 400px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.padding-100 {
    padding: 100px !important;
}


/* Generic Margin Helpers
    ------------------------------------
     */

.m-t-0 {
    margin-top: 0px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.mt-15 {
    margin-top: 15% !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.mb-15 {
    margin-bottom: 15% !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-t-55 {
    margin-top: 55px !important;
}

.m-r-55 {
    margin-right: 55px !important;
}

.m-l-55 {
    margin-left: 55px !important;
}

.m-b-55 {
    margin-bottom: 55px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-r-60 {
    margin-right: 60px !important;
}

.m-l-60 {
    margin-left: 60px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.m-t-65 {
    margin-top: 65px !important;
}

.m-r-65 {
    margin-right: 65px !important;
}

.m-l-65 {
    margin-left: 65px !important;
}

.m-b-65 {
    margin-bottom: 65px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-r-70 {
    margin-right: 70px !important;
}

.m-l-70 {
    margin-left: 70px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.m-t-75 {
    margin-top: 75px !important;
}

.m-r-75 {
    margin-right: 75px !important;
}

.m-l-75 {
    margin-left: 75px !important;
}

.m-b-75 {
    margin-bottom: 75px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-r-80 {
    margin-right: 80px !important;
}

.m-l-80 {
    margin-left: 80px !important;
}

.m-b-80 {
    margin-bottom: 80px !important;
}

.m-t-85 {
    margin-top: 85px !important;
}

.m-r-85 {
    margin-right: 85px !important;
}

.m-l-85 {
    margin-left: 85px !important;
}

.m-b-85 {
    margin-bottom: 85px !important;
}

.m-t-90 {
    margin-top: 90px !important;
}

.m-r-90 {
    margin-right: 90px !important;
}

.m-l-90 {
    margin-left: 90px !important;
}

.m-b-90 {
    margin-bottom: 90px !important;
}

.m-t-95 {
    margin-top: 95px !important;
}

.m-r-95 {
    margin-right: 95px !important;
}

.m-l-95 {
    margin-left: 95px !important;
}

.m-b-95 {
    margin-bottom: 95px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-r-100 {
    margin-right: 100px !important;
}

.m-l-100 {
    margin-left: 100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-27 {
    font-size: 27px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-29 {
    font-size: 29px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-60 {
    font-size: 60px !important;
}

.fs-70 {
    font-size: 70px !important;
}

.fs-80 {
    font-size: 80px !important;
}

.fs-90 {
    font-size: 90px !important;
}

.fs-100 {
    font-size: 100px !important;
}

.fs-110 {
    font-size: 110px !important;
}


/*=====  End of SPACING HELPERS  ======*/

.wrapper--tix {
    padding: 70px 12px 0 12px !important;
}

.hr--tix {
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.hr--results {
    border-top: 1px solid #dee2e6 !important;
}

.form-control {
    height: calc(2.1em + .9rem + 2px);
}

.input-group-text {
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #ffffff;
}

.select2-container .select2-search--inline .select2-search__field {
    padding: 0.426rem !important;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #384149 !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 15px !important;
    left: 0 !important;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #343a40 !important;
    border: 1px solid #343a40 !important;
    border-radius: 14px;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #ffffff !important;
    box-shadow: none !important;
}

.table th {
    padding: 1.25rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-weight: 400;
    color: #343a40 !important;
}

.table td {
    color: #98a6ad !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 1.41em !important;
    display: block;
    opacity: 0.3;
}

div.dataTables_wrapper div.dataTables_filter {
    display: none;
}

.dataTables_info {
    font-weight: 400;
    font-size: 12px;
}

.navbar-custom .app-search--tix .form-control {
    border: none;
    height: 38px;
    padding-left: 12px;
    padding-right: 0;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.input-group-text--tix {
    padding: 0;
    margin-bottom: 0;
    font-size: 1.275rem;
    border: none;
    border-radius: 0;
}

.row-border-right {
    border-right: 1px solid #dee2e6 !important;
}

input,
input[type="text"].search::-webkit-input-placeholder {
    font-size: 16px !important;
}

select #tableFilters::-webkit-input-placeholder {
    font-size: 12px !important;
}

input.select2-search__field::-webkit-input-placeholder {
    font-size: 16px !important;
    color: #aeb5bd !important;
}

.input-group-text {
    border: none !important;
}

.input-group {
    border: 1px solid #ececec !important;
    border-radius: 3px;
}

.input-group--tix {
    border: none !important;
    border-left: 1px solid #ececec !important;
    padding-left: 20px;
}

input.form-control {
    border: none !important;
    padding: .45rem .1rem;
}

.card {
    border-radius: .15rem;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: none !important;
    border-radius: 0 !important;
    cursor: text;
    border-bottom: 1px solid #f7f7f7 !important;
}

input#length-of-stay,
#dtSearch {
    border: none;
    border-bottom: 1px solid #f7f7f7 !important;
    border-radius: 0;
}

.date-range {
    padding: 0 !important;
}

.br-0 {
    border: none !important;
}

.br-1 {
    border: 1px solid #ced4da !important;
}

.br-2 {
    border: 2px solid #ced4da !important;
}

.br-3 {
    border: 3px solid #ced4da !important;
}

@media (max-width: 767.98px) {
    .row-border-right {
        border-right: none !important;
    }
    .page-title {
        font-size: 1.4rem !important;
    }
}

.bg-login {
    background-size: cover;
    background-image: url('/assets/images/login/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-gradient-dark-right::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1b2a4e));
    background-image: linear-gradient(to bottom, transparent, #1b2a4e);
}

.overlay {
    position: relative;
}

.overlay-50::before {
    opacity: .5;
}

.overlay-dark::before {
    background-color: #1b2a4e;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

.btn-login-gradient {
    background: rgb(0, 84, 166) !important;
    background: -moz-linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
    background: -webkit-linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
    background: linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
}

.btn-login-gradient:hover {
    color: #ffffff;
    text-decoration: none;
    background: rgb(0, 84, 166) !important;
    background: -moz-linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
    background: -webkit-linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
    background: linear-gradient(45deg, rgba(0, 84, 166, 1) 0%, rgba(10, 191, 183, 1) 100%) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #082d6b !important;
    border: none !important;
    border-radius: 25px !important;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 10px !important;
    font-weight: 400 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: normal !important;
    margin-right: 5px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #072c6b !important;
}

.select2-dropdown {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #c5c5c5 !important;
    box-shadow: -10px 0 0 #c5c5c5 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #022868 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #022868 !important;
}

.bg-body {
    background-color: #f5f6f8 !important;
}

table.dataTable>tbody>tr.child span.dtr-title {
    font-weight: 400 !important;
    color: #343a40 !important;
}

table.dataTable>tbody>tr.child span.dtr-title::after {
    content: ':' !important;
}

.nav-link--tix {
    text-align: left !important;
    line-height: normal !important;
}

.user-account {
    padding: 20px 0 0 !important;
}